<div class="main"> 
    <div class="navigation">
      <ul>
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><i class="fa fa-phone"></i><a href="#">+1 303-858-9927</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:htcc@hindutempleofcolorado.org">htcc@hindutempleofcolorado.org</a></li>
        <li class="navigation__item"><a href="donation.html">Donate</a></li>
      </ul>
    </div>
  </div>  